@model Domain.Fanwear

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fanwear</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FanwearName" class="control-label"></label>
                <input asp-for="FanwearName" class="form-control" />
                <span asp-validation-for="FanwearName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FanwearSize" class="control-label"></label>
                <input asp-for="FanwearSize" class="form-control" />
                <span asp-validation-for="FanwearSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FanwearPrice" class="control-label"></label>
                <input asp-for="FanwearPrice" class="form-control" />
                <span asp-validation-for="FanwearPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubId" class="control-label"></label>
                <select asp-for="ClubId" class ="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
